
/* Form of the create ad page, careful to the others. */
form{
    width: 30vw;
}

input, select{
    margin-bottom : 1rem;
}

/* Index elements */

li{
    list-style-type: none;
}

li > a {
    text-decoration: none;
    color: #fff;
}
li > a:hover {
    
    color: #fff;
}

nav {
    background-color: rgb(65, 77, 95);
}

h1{
    color: #fff;
}

/* search engine */

#search-engine{
    width : 75vw;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 1rem;
}

#search-form{
    width:fit-content;
}