
.text-grey{
    color:rgb(65, 77, 95)
}

/* Form of the create ad page, careful to the others. */
form{
    width: 30vw;
}

input, select{
    margin-bottom : 1rem;
}

/* Index elements */

li{
    list-style-type: none;
}

li > a {
    text-decoration: none;
    color: #fff;
}
li > a:hover {
    
    color: #fff;
}

nav {
    background-color: rgb(65, 77, 95);
}

h1{
    color: #fff;
}

/* search engine */

#search-engine{
    width : 56vw;
    /* border: 1px solid rgb(165, 165, 165); */
    border-radius: 1rem;
    box-shadow: 0px 0px 15px -8px rgb(133, 133, 133);
}

#search-form{
    width:fit-content;
    
}



input[name="minprice"], input[name="maxprice"]{
    width:5rem;
}

input[name='keyword-field']{
    width: 26vw;
}

.btn-success{
    background-color: rgb(65, 77, 95);
    border : 1px solid rgb(65, 77, 95);
}
.btn-success:hover, .btn-success:active{
    background-color: rgb(42, 52, 66);
    border : 1px solid rgb(42, 52, 66);
}
.btn-success:focus{
    background-color: rgb(42, 52, 66);
    border : 1px solid rgb(42, 52, 66);
    box-shadow: 0 0 0 0.25rem rgb(65 77 95 / 50%);
}
.btn-success:active{
    box-shadow: 0 0 0 0.25rem rgb(65 77 95 / 50%);
}

/* Form to create an ad */

#create-ad-form{
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0px 0px 15px -8px rgb(133, 133, 133);
}

input[name="modal-trigger"]{
    width:fit-content;
    border-radius: 2rem;
    margin:0;
    margin-left: 0.5rem;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid rgb(65, 77, 95);
    color: rgb(65, 77, 95);
    
    
}
input[name="modal-trigger"]:hover{
    background-color: rgb(65, 77, 95);
    border: 1px solid rgb(65, 77, 95);
}

input[name="modal-trigger"]:focus, input[name="modal-trigger"]:active{
    box-shadow: 0 0 0 0.25rem rgb(65 77 95 / 50%);
}

/* index */

.card{
    box-shadow: 0px 0px 15px -8px rgb(133, 133, 133);
    border: none;
    position:relative;
    height: 30rem;
}

.card-bottom{
    position : absolute;
    bottom : 15px;
    width : 100%
}
.card-bottom a{
    right : 5px;
}

.btn-outline-secondary{
    border-radius: 1rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}



