/* Form of the create ad page, careful to the others. */

form{
    width: 30vw;
}

input, select, textarea{
    margin-bottom : 1rem;
    background-color: #fefdec;
    border : 1px solid #1D213F;
    border-radius : 0.3rem;
    padding : 0.3rem;
}

/* Index elements */

li {
    list-style-type: none;
}

li>a {
    text-decoration: none;
    color: #fefdec;
    font-weight: 500;
}
li > a:hover {
    
    color: #fefdec;
}

nav {
    background-color: #1d213f;
}

h1{
    color: #fefdec;
}

nav > .btn-danger {
    background-color: #E3B100;
}

/* search engine */

#search-engine {
    width: 56vw;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px -8px rgb(133, 133, 133);
    background-color: #fefdec;
}

#search-form {
    width: fit-content;

}

.card{
    background-color: #fefdec;
}

/* Number inputs */
input[name="minprice"], input[name="maxprice"], input[name="minsurface"], input[name="maxsurface"], input[name="kilometres-car"], input[name="din-car"], input[name="doors-car"], input[name="seats-car"], input[name="storage-telephonie"], input[name="minkilometres"], input[name="maxkilometres"]{
    width:5rem;
}

/* Text-inputs */
input[name="brand-car"],
input[name="model-car"],
input[name="color-car"],
input[name="brand-gaming"],
input[name="model-gaming"],
input[name="brand-telephonie"],
input[name="model-telephonie"],
input[name="color-telephonie"],
select[name="state-multimedia"] {
    width: 7rem;
}

input[name='keyword-field'] {
    width: 26vw;
}

.btn-success{
    background-color: #E3B100;
    border : 1px solid #E3B100;
}
.btn-success:hover, .btn-success:active{
    background-color: #E3B100;
    border : 1px solid #E3B100;
}
.btn-success:focus{
    background-color: #E3B100;
    border : 1px solid #E3B100;
    box-shadow: 0 0 0 0.25rem rgb(65 77 95 / 50%);
}

.btn-success:active {
    box-shadow: 0 0 0 0.25rem rgb(65 77 95 / 50%);
}

/* Form to create an ad */

#create-ad-form {
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0px 0px 15px -8px rgb(133, 133, 133);
    background-color: #fefdec;
}

input[name="modal-trigger"] {
    width: fit-content;
    border-radius: 2rem;
    margin: 0;
    margin-left: 0.5rem;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid #E3B100;
    color: #E3B100;
    
    
}
input[name="modal-trigger"]:hover{
    background-color: #E3B100;
    border: 1px solid #E3B100;
}

input[name="modal-trigger"]:focus,
input[name="modal-trigger"]:active {
    box-shadow: 0 0 0 0.25rem rgb(65 77 95 / 50%);
}

/* index */

.card {
    box-shadow: 0px 0px 15px -8px rgb(133, 133, 133);
    border: none;
    position: relative;
    height: 30rem;
}

.card-bottom {
    position: absolute;
    bottom: 15px;
    width: 100%
}

.card-bottom a {
    right: 5px;
}

.btn-outline-secondary {
    border-radius: 1rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    border: 1px solid #E3B100;
    color: #E3B100;
}
.btn-outline-secondary:hover{
    color:#fefdec;
    background-color: #E3B100;
    border-color: #E3B100;
}


/* Page annonces */

#img-wrapper{
    max-width: 40rem;
    max-height: fit-content; 
    background-color: #fefdec;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px -8px rgb(133, 133, 133);
}

#seller-info{
    height : fit-content;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px -8px rgb(133, 133, 133);
    background-color: #fefdec;
    width : 27rem;
}

#annonce-page{
    background-image: url(../assets/img/background.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}
.caracteristics-div{
    border-radius: 1rem;
    background-color: #fefdec ;
    box-shadow: 0px 0px 15px -8px rgb(133, 133, 133);
}

.user-link{
    font-size : 2rem;
    font-weight: 700;
    text-decoration: none;
    color:#E3B100;
    transition: 0.3s
}
.user-link:hover{
    color:#af8900;
    transition: 0.3s;
}

.main-color{
    color: rgba(65, 77, 95);
}

.contact-form{
    width : 100%;
}

